<a href="https://colab.research.google.com/github/acciolyma/-7DaysOfCode---Python-Pandas/blob/main/_Dayy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Tarefa: COLETAR E ORGANIZAR OS DADOS DOS EMPRÉSTIMOS
# Passo 1 - Importar as bibliotecas necessárias
import pandas as pd

# URLs dos arquivos CSV dos empréstimos
urls = [
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20101.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20102.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20111.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20112.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20121.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20122.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20131.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20132.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20141.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20142.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20151.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20152.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20161.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20162.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20171.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20172.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20181.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20182.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20191.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20192.csv',
    'https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-20201.csv'
]

# Lendo todos os arquivos de empréstimos e concatenando em um único DataFrame
df_emprestimos = pd.concat((pd.read_csv(url) for url in urls), ignore_index=True)

# Exibindo as primeiras linhas do DataFrame de empréstimos
print(df_emprestimos.head())

   id_emprestimo codigo_barras                 data_renovacao  \
0         709684       L095049                            NaN
1         709685       L167050                            NaN
2         709686    2006017618  2010/01/26 08:07:01.738000000
3         709687       L184117  2010/01/18 11:07:46.470000000
4         709684       L095049                            NaN

                 data_emprestimo                 data_devolucao  \
0  2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
1  2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
2  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
3  2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
4  2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000

   matricula_ou_siape    tipo_vinculo_usuario
0        2.008023e+09      ALUNO DE GRADUAÇÃO
1        2.008023e+09      ALUNO DE GRADUAÇÃO
2        2.008112e+09  ALUNO DE PÓS-GRADUAÇÃO
3        2.007211e+08      ALUNO DE GRADUAÇÃO
4        2.008023e+09      ALUNO DE GRADUAÇÃO

In [12]:
# Verificando Duplicadas
df_emprestimos.duplicated().value_counts()

#Mostrando as Duplicadas
df_emprestimos[df_emprestimos.duplicated()]

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
5,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
6,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
7,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
19,709698,2009047725,2010/01/18 14:44:41.163000000,2010/01/04 09:21:19.099000000,2010/02/02 12:02:38.444000000,2.009047e+09,ALUNO DE GRADUAÇÃO
20,709698,2009047725,2010/01/18 14:44:41.163000000,2010/01/04 09:21:19.099000000,2010/02/02 12:02:38.444000000,2.009047e+09,ALUNO DE GRADUAÇÃO
28,709704,2006021442,2010/01/17 18:56:43.923000000,2010/01/04 09:58:46.522000000,2010/02/01 13:59:02.528000000,2.008010e+09,ALUNO DE GRADUAÇÃO
29,709705,2009032168,2010/01/17 18:56:43.909000000,2010/01/04 09:58:46.549000000,2010/01/20 13:14:34.464000000,2.008010e+09,ALUNO DE GRADUAÇÃO
30,709704,2006021442,2010/01/17 18:56:43.923000000,2010/01/04 09:58:46.522000000,2010/02/01 13:59:02.528000000,2.008010e+09,ALUNO DE GRADUAÇÃO
31,709705,2009032168,2010/01/17 18:56:43.909000000,2010/01/04 09:58:46.549000000,2010/01/20 13:14:34.464000000,2.008010e+09,ALUNO DE GRADUAÇÃO
32,709704,2006021442,2010/01/17 18:56:43.923000000,2010/01/04 09:58:46.522000000,2010/02/01 13:59:02.528000000,2.008010e+09,ALUNO DE GRADUAÇÃO
33,709705,2009032168,2010/01/17 18:56:43.909000000,2010/01/04 09:58:46.549000000,2010/01/20 13:14:34.464000000,2.008010e+09,ALUNO DE GRADUAÇÃO
34,709704,2006021442,2010/01/17 18:56:43.923000000,2010/01/04 09:58:46.522000000,2010/02/01 13:59:02.528000000,2.008010e+09,ALUNO DE GRADUAÇÃO
35,709705,2009032168,2010/01/17 18:56:43.909000000,2010/01/04 09:58:46.549000000,2010/01/20 13:14:34.464000000,2.008010e+09,ALUNO DE GRADUAÇÃO
36,709704,2006021442,2010/01/17 18:56:43.923000000,2010/01/04 09:58:46.522000000,2010/02/01 13:59:02.528000000,2.008010e+09,ALUNO DE GRADUAÇÃO
37,709705,2009032168,2010/01/17 18:56:43.909000000,2010/01/04 09:58:46.549000000,2010/01/20 13:14:34.464000000,2.008010e+09,ALUNO DE GRADUAÇÃO
38,709704,2006021442,2010/01/17 18:56:43.923000000,2010/01/04 09:58:46.522000000,2010/02/01 13:59:02.528000000,2.008010e+09,ALUNO DE GRADUAÇÃO
39,709705,2009032168,2010/01/17 18:56:43.909000000,2010/01/04 09:58:46.549000000,2010/01/20 13:14:34.464000000,2.008010e+09,ALUNO DE GRADUAÇÃO
1394906,2351375,L057436,2016/01/31 07:30:36.293000000,2016/01/02 08:38:40.009000000,2016/02/21 13:16:29.000000000,2.016101e+10,ALUNO DE PÓS-GRADUAÇÃO
1394907,2351376,H004983,2016/01/31 07:31:36.786000000,2016/01/02 08:46:42.991000000,2016/02/22 16:10:28.000000000,2.016101e+10,ALUNO DE PÓS-GRADUAÇÃO
1394908,2351377,H011333,2016/01/31 07:31:36.658000000,2016/01/02 08:46:43.400000000,2016/02/22 16:10:40.000000000,2.016101e+10,ALUNO DE PÓS-GRADUAÇÃO
1394924,2351385,2013114886,2016/01/16 07:41:19.590000000,2016/01/02 10:02:44.456000000,2016/01/30 07:52:10.000000000,2.015316e+09,ALUNO MÉDIO/TÉCNICO
1394925,2351386,2015005192,2016/01/16 07:41:19.537000000,2016/01/02 10:02:44.507000000,2016/01/30 07:52:07.000000000,2.015316e+09,ALUNO MÉDIO/TÉCNICO
1394926,2351387,2015004940,2016/01/16 07:41:19.473000000,2016/01/02 10:02:44.560000000,2016/01/30 07:52:00.000000000,2.015316e+09,ALUNO MÉDIO/TÉCNICO
1394927,2351388,2012029817,NaN,2016/01/02 10:08:27.599000000,2016/01/23 16:28:01.000000000,2.016101e+10,ALUNO DE PÓS-GRADUAÇÃO
1394928,2351389,2014077426,NaN,2016/01/02 10:08:27.658000000,2016/01/23 16:27:57.000000000,2.016101e+10,ALUNO DE PÓS-GRADUAÇÃO
1394929,2351390,2015007050,2016/01/31 23:03:17.389000000,2016/01/02 10:08:27.720000000,2016/03/16 16:26:37.000000000,2.016101e+10,ALUNO DE PÓS-GRADUAÇÃO
1394930,2351391,L195470,2016/01/17 16:03:38.760000000,2016/01/02 10:12:01.462000000,2016/01/27 16:37:55.000000000,2.014036e+09,ALUNO DE GRADUAÇÃO
1394931,2351392,2015008037,2016/01/17 16:03:38.705000000,2016/01/02 10:12:01.529000000,2016/01/27 16:37:59.000000000,2.014036e+09,ALUNO DE GRADUAÇÃO
1504567,2461092,2014007909,NaN,2016/06/14 11:13:44.817000000,2016/06/16 09:55:01.000000000,2.016089e+09,ALUNO DE GRADUAÇÃO
1504568,2461093,2014007908,NaN,2016/06/14 11:15:48.131000000,2016/06/23 10:06:35.000000000,2.016014e+10,ALUNO DE GRADUAÇÃO
1504569,2461094,2014007910,NaN,2016/06/14 11:16:34.407000000,2016/06/22 08:04:20.000000000,2.016013e+10,ALUNO DE GRADUAÇÃO
1504570,2461095,2014007744,NaN,2016/06/14 11:16:34.459000000,2016/06/22 08:04:39.000000000,2.016013e+10,ALUNO DE GRADUAÇÃO
1504571,2461096,2016005538,NaN,2016/06/14 11:16:58.596000000,2016/07/04 16:07:41.000000000,2.016014e+10,ALUNO DE GRADUAÇÃO
1504572,2461097,2014083427,NaN,2016/06/14 11:17:29.152000000,2016/06/16 09:17:19.000000000,2.016014e+10,ALUNO DE GRADUAÇÃO
1504573,2461098,2014049460,NaN,2016/06/14 11:18:59.254000000,2016/06/26 13:44:13.000000000,2.017005e+10,ALUNO DE GRADUAÇÃO
1504574,2461099,2012008348,2016/06/27 20:35:46.855000000,2016/06/14 11:20:33.254000000,2016/07/11 14:37:29.000000000,2.015022e+09,ALUNO DE GRADUAÇÃO

In [20]:
#Removendo as duplicadas
df_emprestimos = df_emprestimos.drop_duplicates()

# URL do arquivo .parquet
url_acervo = 'https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet'

# Lendo o arquivo .parquet
df_acervo = pd.read_parquet(url_acervo)
df_acervo.head()

# Verificando duplicadas e Nan
df_acervo.duplicated().value_counts()
df_acervo.isna().sum()

id_exemplar         0
codigo_barras       0
colecao             0
biblioteca          0
status_material     0
localizacao         0
registro_sistema    0
dtype: int64

In [16]:
# Mesclando os dados dos empréstimos com os dados do acervo via codigo_barras
df_mesclado = pd.merge(df_emprestimos, df_acervo, on='codigo_barras', how='left')

# Exibindo as primeiras linhas do DataFrame mesclado
print(df_mesclado.head())

   id_emprestimo codigo_barras                 data_renovacao  \
0         709684       L095049                            NaN
1         709685       L167050                            NaN
2         709686    2006017618  2010/01/26 08:07:01.738000000
3         709687       L184117  2010/01/18 11:07:46.470000000
4         709688    2007027500  2010/01/19 15:59:26.464000000

                 data_emprestimo                 data_devolucao  \
0  2010/01/04 07:44:10.721000000  2010/01/05 16:26:12.662000000
1  2010/01/04 07:44:10.750000000  2010/01/12 07:34:13.934000000
2  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000
3  2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000
4  2010/01/04 08:27:33.569000000  2010/02/03 13:06:30.662000000

   matricula_ou_siape    tipo_vinculo_usuario  id_exemplar            colecao  \
0        2.008023e+09      ALUNO DE GRADUAÇÃO      13259.0  Acervo Circulante
1        2.008023e+09      ALUNO DE GRADUAÇÃO      70865.0  Acervo Circulante
2        2.008112e+09  ALUNO DE PÓS-GRADUAÇÃO     195347.0  Acervo Circulante
3        2.007211e+08      ALUNO DE GRADUAÇÃO     131639.0  Acervo Circulante
4        2.009046e+09      ALUNO DE GRADUAÇÃO     225646.0  Acervo Circulante

                                          biblioteca status_material  \
0                     Biblioteca Central Zila Mamede         REGULAR
1                     Biblioteca Central Zila Mamede         REGULAR
2  Biblioteca Setorial Prof. Rodolfo Helinski - E...         REGULAR
3                     Biblioteca Central Zila Mamede         REGULAR
4                     Biblioteca Central Zila Mamede         REGULAR

   localizacao  registro_sistema
0        630.0            4225.0
1        647.0           25009.0
2        640.0           75019.0
3        609.0           44494.0
4        686.0           91736.0

In [15]:
# Exibindo Dataframe mesclado em formato de tabela
df_mesclado

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,75019.0
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,44494.0
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO,225646.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0,91736.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2261774,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684.0,110098.0
2261775,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628.0,110171.0
2261776,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821.0,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653.0,134173.0
2261777,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,804885.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675.0,67712.0
2261778,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,1099777.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14.0,205153.0